.header {
    flex: 0 1 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 7rem;
    /* justify-content: space-between; */
    border-bottom: var(--line);
    // border-bottom: 1px solid var(--color-grey-dark-3); 
    background-color: var(--color-grey-light-2);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    // background-color: #FFF;
    /* box-shadow: 0px 14px 5px 0px rgba(0,0,0,0.75); */
    position:sticky;
    // position: fixed;
    top: 0rem;
    z-index: 3;
}
