.search {
    border-radius: 3rem;
    position: relative;
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        width: 80%;
        background-color: var(--color-grey-light-4); 
        padding: 1.3rem 2rem;
        border: none;
        border-radius: 3rem;
        transition: all .2s;
        

        &:focus {
            width: 100%;
            // outline: none;
            background-color: var(--color-grey-light-3);
            // background-color: white;
            color: black;
            font-size: 1.6rem;
            outline-color: var(--color-grey-dark-1);
            
            
            // outline:none;
            // border-radius:.1rem;
            // border-bottom: 1.5px solid blue;
        }


    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var( --color-grey-dark-1);
        // fill: blue;
        // background-color: blue;
        background-color:inherit;
        &:active {
            transform: translateY(.2rem);
        }

    }


    &__button {
        border: none;
        // background-color: var(--color-grey-light-2s);
        background-color: inherit; 
        transition: all .2s; 
        margin-left: -3.5rem ;
        cursor: pointer;
        outline: none;
        &:hover{
            transform: translateY(-.2rem);
        }
    }
    
}








