.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    & > *:hover {
        background-color: var(--color-grey-light-3);
        // background-color: white; 

        & > * {
            transform: translateY(-.3rem);
        }
        
        
    } 

    &__icon-box {
        position: relative;
        /* align-self: stretch; */
    } 

    &__icon-box:first-child &__notification{
        right: 1.2rem;
    }

    &__icon-box:not(:first-child)  &__notification {
        right: .8rem;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-1);
        transition: all .2s;
    }

    &__notification{
        position: absolute;
        top:1rem;
        height: 1.75rem;
        width: 1.75rem;
        font-size: 1.4rem;
        border-radius: 50%;
        // background-color: var(--color-grey-light-3);
        background-color: rgb(240, 240, 53);
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
    }
    

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
        transition: all .3s;
    }
    
    
    &__user-name{
        color: black;
        display: none;
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 600;
        box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);    
    }



}














